/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 16-ene-2018, 13:10:35
    Author     : Nacho
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

div.clear{clear: both; margin-top: 10px;}
div.clear.grande{clear: both; margin-top: 20px;}
.sm_toolBox, .sm_zoomControl, .sm_mapTypeControl, .sm_colorPickerControl, .sm_colorPickerControl,
.sm_lineSettingsControl, .sm_searchControl, .sm_settings, .sm_fullScreen{display: none}
.agregar_elementos{position: absolute; top:0px; right: 0px; border: 1px solid #000; padding: 5px 10px; box-shadow: 1px 1px 5px #000; width: 300px; margin: 30px 50px;}
.agregar_elementos > span {float: left;}
.agregar_elementos > input[type=text] {float: right;}
.agregar_elementos.abajo{top: 300px;}

.fondo {
  font-family: "Roboto", sans-serif;
  background-color: #eee;
}

.contenido {
  margin-left: auto;
  margin-right: auto;
  width: 900px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

#cabecera {
  height: 115px;
  background-color: #ddd;
  border-bottom: #777 2px solid;
  position: relative;
  padding: 20px;
}

  #logo {
    width: 201px;
  }

    #logo img{
      width: 100%;
    }

  #titular {
    width: 350px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 3.3em;
    font-weight: bold;
    text-align: center;
    color: #333;
  }

  #menu {
    width: 100px;
    float: right;
    position: absolute;
    bottom: 0;
    right: 20px;
  }

    #menu ul {
      list-style-type: none;
    }

      #menu ul a:link,
      #menu ul a:visited {
        text-decoration: none;
        color: #555;
      }

      #menu ul a:hover {
        color: #fff;
      }

#el_mapa{
  height: 600px;
}

.flotante {
  background-color: #fff;
  text-align: center;
  margin: 0 auto 100px;
  padding: 45px;

  width: 20%;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

  .flotante a.cerrarVentana {
   position: absolute;
   top:-14px;
   right:-11px;
   background-color: #777;
   padding:2px 5px 5px 5px;
   font-size: 1.4em;
   font-weight: bold;
   text-decoration: none;
   line-height: 1;
   color:#fff;

   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   border-radius: 8px;

   -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
   box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
  }

.formulario input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #eee;
  width: 100%;
  border: 0;
  margin: 0 0 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.formulario button {
  background: #777;
}

.formulario .boton {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0;
  background: #777;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.formulario .boton:hover,
.formulario .boton:active,
.formulario .boton:focus {
  background: #aaa;
}

.formulario .nueva {
  margin: 15px 0 0;
  color: #aaa;
  font-size: 12px;
}

.formulario .nueva a:link,
.formulario .nueva a:visited {
  color: #555;
  text-decoration: none;
}

.formulario .nueva a:hover {
  color: #000;
}


#sugerencias{position: absolute; width: 300px; left: 10px; background-color: #fff; top: 30px}
#sugerencias > .opcion{border: 1px solid #000000; margin-bottom: 5px; cursor: pointer;}

.sm_infoWindow, .sm_infoWindow > div {height: auto !important;}

.sm_infoWindow .sm_infoWindow{background: #fff; border: 1px solid #000; width: auto !important;}

.sm_infoWindow .sm_close{top: 10px; right: 7px;}

.sm_infoWindow > div > div > svg{display: none;}

@media ( max-width:480px){
    #el_mapa{width: 400px; height: 400px; margin-top: 200px;}
    .agregar_elementos{right: auto !important; left: -30px;}
}

/*MENSAJES*/
div.fondo{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 100;
}

div.centro{
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 101;
}

div.centro > div.Interior{
    margin: 60px auto;
    width: 95% !important;
    text-align: center;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #000;
    box-shadow: 2px 2px 5px #000;
    font-size: 25px;
    padding-top: 10px;
    max-height: 530px;
}

div.centro > div.Interior > div.caja{
    margin: 5px;
    width: 100%;
    overflow-y: scroll;
    height: 500px;
}

div.centro > div.Interior > img{
    width: 70px;
    display: block;
    margin: 20px auto;
}

div.grande{
    width: 90% !important;
    max-width: 800px;
    min-width: 300px;
    padding: 0px 20px 20px !important;
    text-align: left !important;
}

div.grande > p{
    font-size: 18px;
}

div.cierre{
    position: relative;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 25px;
    padding: 1px 8px;
    right: -40px;
    float: right;
    bottom: 20px;
    cursor: pointer;
}

.sm_infoWindow div{overflow: visible !important;}

div.sm_infoWindow.ampliado{
    width: 250px !important;
}

div.sm_infoWindow.ampliado .sm_close{
    left: 250px;
}

.sm_infoWindow > img + div{visibility: hidden !important; height: 5px !important;}

.sm_infoWindow .intereses{margin-top: 10px;}

.sm_infoWindow .intereses > img {width: 50px;}

.sm_infoWindow > .info_exta > div{clear: both;}

.sm_infoWindow > .info_exta > div > span{float: left;}

.sm_infoWindow > .info_exta > div > span+span{float: right;}
